.contact-form {
  max-width: 600px;
  margin: 120px auto;
  padding: 60px 20px;
  text-align: center;
}

.contact-form h1 {
  font-size: 3.1rem;
  color: #1a1a1a;
  margin-bottom: 15px;
}

.contact-form p {
    font-size: 1.3rem;
}

.contact-form form {
  margin-top: 20px;
  font-family: "Quicksand", sans-serif;
}

.contact-form input,
.contact-form select
 {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.contact-form button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  border-style: none;
}

.contact-form button {
  background-color: #FF914D;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.9s ease;
}

.contact-form button:hover {
  background-color: #000;
  color: #fff;
}

.contact-form .cta-button.secondary {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background-color: #FF914D;
  color: #000;
  border-radius: 6px;
  text-decoration: none;
}

.contact-form .cta-button.secondary:hover {
  background-color: #000;
  color: #fff;
}