.case-studies {
  max-width: 1000px;
  margin: 120px auto;
  padding: 50px 20px;
  text-align: center;
}

.case-study {
  margin: 40px 0;
  text-align: left;
}

.case-study h2 {
  color: #1a1a1a;
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.case-study img {
  width: 100%;
  border-radius: 8px;
  margin-top: 15px;
}

.cta-button {
  display: inline-block;
  padding: 12px 25px;
  background-color: #FF914D;
  color: #000;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}

.cta-button:hover {
  background-color: #000;
  color: #fff;
  transition: 0.9s ease;
}