.case-studies {
  max-width: 1200px; 
  margin: 120px auto;
  padding: 50px 20px;
  text-align: center;
  background-color: #d6d6d699;
  border-radius: 14px;
}

.case-studies h1 {
  font-size: 3.2rem;
  margin-bottom: 30px;
}

.case-studies p {
  font-size: 1.3rem;
  line-height: 1.89rem;
}

.case-study {
  margin: 40px 0;
  text-align: left;
}

.case-study h2 {
  color: #FF914D;
  font-size: 1.99rem;
  margin-bottom: 20px;
}

.case-study img {
  width: 100%;
  border-radius: 8px;
  margin-top: 45px; 
}

.cta-button {
  display: inline-block;
  padding: 12px 25px;
  background-color: #FF914D;
  color: #000;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}

.cta-button:hover {
  background-color: #000;
  color: #fff;
  transition: 0.9s ease;
}