/* font link!! */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


/* default styles!! */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* body */
body {
    font-family: "Quicksand", sans-serif;
    margin-bottom: 0.7px;
}


/* navigation bar!! */
nav {
    display: flex;
    color: #fff;
    justify-content: space-between;
    padding: 20px 25px;
    height: 68px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 87%;
    background-color: #000;
}

.logo label {
    font-size: 2.1rem;
    font-weight: 700;
}

.logo label span {
    color: #FF914D;
}

.nav-links ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 475;
    padding: 6px 10px;
    border-radius: 8px;
}

.nav-links ul li a:hover {
    transition: 0.9s ease;
    color: #fff;
    background-color: #FF914D;
}

.wa-cta a {
    padding: 8px 18px;
    background-color: rgb(1, 255, 0);
    border-radius: 28px;
    text-decoration: none;
}

.wa-cta a:hover {
    background-color: rgb(2, 214, 2);
    transition: 0.9s ease;
}

.wa-cta a,
i span {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 475;
}


/* hero section!! */
.hero-section {
    background-image: url(./assets/Green\ Modern\ Brand\ Strategy\ Presentation\ 10\ Page\ -\ Copy.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 50rem;
    top: 60px;
}

.hero-heading h1 {
    padding: 200px 0px 50px 40px;
    font-size: 3.2rem;
    /* margin-top: 50px; */
}

.hero-sub p {
    font-size: 1.8rem;
    font-weight: 400;
    padding: 10px 40px;
}

.hero-cta {
    margin-top: 120px;
}

.hero-cta a {
    padding: 12px 25px;
    background-color: #FF914D;
    text-decoration: none;
    color: #000;
    font-size: 1.1rem;
    font-weight: 560;
    border-radius: 14px;
    margin: 120px 40px;
}

.hero-cta a:hover {
    background-color: #000;
    transition: 0.9s ease;
    color: #fff;
}


/* middle secton!! */
.middle-section {
    margin-top: 100px;
    width: 98%;
    display: flex;
    gap: 3%;
    padding: 80px 50px;
    margin-left: 1%;
    background-color: #d6d6d699;
    justify-content: center;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.pain {
    width: 28%;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 14px;
    box-shadow: 2px 4px 8px rgb(0, 0, 0, 0.8);
}

.pain-cont ul li {
    line-height: 1.6rem;
    font-size: 1.17rem;
    color: #4e4b4b;
    font-weight: 475;
}

.solutions {
    width: 61%;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 14px;
    box-shadow: 2px 4px 8px rgb(0, 0, 0, 0.8);
}

.head h2 {
    font-size: 2.6rem;
    padding-bottom: 15px;
}

.head p {
    font-size: 1.8rem;
    font-weight: 530;
    margin: 0 0 55px 0;
    color: #FF914D;
}

.sol h2 {
    margin-bottom: 40px;
}

.soll {
    padding: 0 0 0 30px;
}

.sol-cta {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.sol-cta a {
    padding: 12px 20px;
    background-color: orange;
    text-decoration: none;
    color: #000;
    border-radius: 14px;
    font-weight: 485;
}

.sol-cta a:hover {
    background-color: #000;
    transition: 0.9s ease;
    color: #fff;
}

/* bottom!! */
.testimonial-section {
    background-color: #d6d6d699;
    width: 98%;
    margin-left: 1%;
    padding: 50px 20px 80px 20px; 
    display: grid;
    grid-template-columns: 35rem 35rem 35rem;
    /* flex-wrap: wrap; */ 
    gap: 50px; 
    justify-content: center;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.test-h3 {
    background-color: #d6d6d699;
    width: 98%;
    margin-left: 1%;
}

h3 {
    text-align: center;
    font-size: 2.8rem;
    padding: 20px 0 80px 0;
}

.card {
    width: 35rem;
    background-color: #fff;
    border-radius: 14px;
    padding: 20px 15px;
}

.test-profile {
    width: 100%;
    display: flex;
    align-items: center;
}

.name-of-business {
    padding-left: 40px;
}

.profile-img img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.review {
    padding: 20px 25px;
}

.rating {
    padding: 0 20px;
}

.rating i {
    color: #FF914D;
}


/* footer!! */
footer {
    width: 100%;
    background-color: #000;
    color: #fff;
    margin-top: 120px;
    padding: 50px 80px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.f-nav-links {
    width: 90%;
    display: flex;
    gap: 23rem;
    margin: 20px 0 50px 0; 
}

.f-links li {
    list-style: none;
}

.f-links li a {
    color: #aca1a1;
    line-height: 1.99rem;
    font-size: 1.17rem;
}

.socials {
    display: flex;
    justify-content: space-between;
}

.socials-d strong {
    font-size: 1.8rem;
    color: #FF914D;
}

.strong {
    margin-top: 20px;
    display: flex;
}

.strong i {
    padding: 12px 24px;
    font-size: 24px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center; 
}

.strong i:hover {
    background-color: #4e4b4b;
    border-radius: 100%;
    transition: 0.9s ease;
    cursor: pointer;
}

.strong p {
    font-size: 1.4rem;
}

.strong p a {
    color: #4e4b4b;
}

.copy-right {
    width: 100%;
    text-align: center;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo label span {
    color: #FF914D;
}

.footer-logo label{
    font-size: 2.3rem;
    font-weight: 589;
}
